h1 {{title}}
.row
  .col-xs-3
    form(novalidate, name='priorityForm', role='form')
      .form-group
        label(for='name') Name
        input.form-control#name(name='name', type='text', ng-model='priority.name', ng-minlength='3', required, autofocus)
      .form-group
        label(for='color') Color
        input.form-control#color(name='color', type='color', ng-model='priority.color', required, autofocus)
      button.btn.btn-success(type='submit', ng-show='priorityForm.$valid', ng-click='add()') +pryoreti+
.row
  .col-xs-3
    .panel.panel-default
      .panel-body
        table.table.table-striped.table-hover.table-bordered
          thead
            th Name
            th Color
          tbody
            tr(ng-repeat='p in priorities', ng-style='{"background-color":p.color}')
              td {{p.name}}
              td {{p.color}}

